<a href="https://colab.research.google.com/github/jay0010/LGMVIP-DataScience/blob/main/LETS_GROW_MORE_VIRTUAL_INTERNSHIP_PROGRAM(VIP)_TASK_Handwritten_equation_solver_using_CNN_training_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NAME : JAYAN KOKRU**
# **LETS GROW MORE VIRTUAL INTERNSHIP PROGRAM(VIP)**
# **ADVANCED LEVEL TASK :**

## **Handwritten equation solver using CNN :**
## **Mathematical equation solver using character and symbol recognition using image processing and CNN**
## **Watch Tutorial from here https://youtu.be/CBCfOTePVPo**
**DatasetLink: https://www.kaggle.com/xainano/handwrittenmathsymbols**

# **TRAINING SET**

## **IMPORTING LIBRARIES**

In [ ]:
import pandas as pd
import numpy as np
import pickle

## **UPLOADING DATA**

In [ ]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['784']]

In [ ]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## **Making Random numbers Predictable**

In [ ]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.set_image_dim_ordering('th')

## **Append Label to a numpy array**

In [ ]:
labels=np.array(labels)

## **Converts an Integers to Binary class matrix.**

In [ ]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

## **Printing Category**

In [ ]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

## **Displaying Train Set**

In [ ]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
l=[]
for i in range(47504):
    l.append(np.array(df_train[i:i+1]).reshape(1,28,28))

In [ ]:
np.random.seed(7)

## **Compiling the Model**

In [ ]:
model = Sequential()
model.add(Conv2D(30, (5, 5), input_shape=(1 , 28, 28), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(13, activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

## **Importing JSON**

In [ ]:
from keras.models import model_from_json

## **Developing Neural Network**

In [ ]:
model.fit(np.array(l), cat, epochs=10, batch_size=200,shuffle=True,verbose=1)

Epoch 1/10
47504/47504 [==============================] - 1333s 28ms/step - loss: 1.4781 - acc: 0.6736
Epoch 2/10
47504/47504 [==============================] - 1327s 28ms/step - loss: 0.2734 - acc: 0.9172
Epoch 3/10
47504/47504 [==============================] - 1266s 27ms/step - loss: 0.1674 - acc: 0.9493
Epoch 4/10
47504/47504 [==============================] - 1265s 27ms/step - loss: 0.1253 - acc: 0.9617
Epoch 5/10
47504/47504 [==============================] - 1270s 27ms/step - loss: 0.0993 - acc: 0.9710
Epoch 6/10
47504/47504 [==============================] - 1270s 27ms/step - loss: 0.0862 - acc: 0.9741
Epoch 7/10
47504/47504 [==============================] - 1263s 27ms/step - loss: 0.0720 - acc: 0.9783
Epoch 8/10
47504/47504 [==============================] - 1252s 26ms/step - loss: 0.0617 - acc: 0.9812
Epoch 9/10
47504/47504 [==============================] - 1095s 23ms/step - loss: 0.0566 - acc: 0.9830
Epoch 10/10
47504/47504 [==============================] - 1099s 23ms/step - loss: 0.0524 - acc: 0.9846

In [ ]:
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
model.save_weights("model_final.h5")